[submodule "status_registry_sol/status_registry/lib/forge-std"]
	path = status_registry_sol/status_registry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "status_registry_sol/lib/forge-std"]
	path = status_registry_sol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "chainlink-foundry/lib/forge-std"]
	path = chainlink-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "chainlink-foundry/lib/foundry-chainlink-toolkit"]
	path = chainlink-foundry/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
